* {
    border-style: border-box;
}

/********** Header-Navbar **********/

.navbar-nav {
    margin-top: 15px;
}

.navbar-nav a {
    text-align: center;
}

.active:hover {
    color: rgb(199, 199, 199);
    opacity: .3;
}

.chc:hover {
    background-color: grey;
}

/********** Content **********/
.menu-categories {
    margin: 20px 20px;
}

.bckimg {
    height: 500px;
    width: auto;
}

div p {
    margin:auto;
    padding: 5px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
    .navbar-nav {
        display: none;
    }
  }
  
/********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
        .navbar-nav {
            display: none;
        }
        .bckimg {
            height: 600px;
            width: auto;
        }
    }
